*{
    margin: 0px;
}


header{
    padding: 10px;
    background-color: rgb(100, 137, 238);
    max-width: 2000px;
    min-width: 162px;
    max-height: 568px;
}

header h1{
    font: normal bolder 3em serif;
    padding: 20px;
    color: white;
    min-width: 250px;
}

nav{
    text-align: end;
}

nav > a{
    padding: 10px;
    text-decoration: none;
    font: normal bold 1.1em Arial;
    color: white;
    transition-duration: 0.5s;

}

nav > a:hover{
    padding: 5px;
    background-color: white;
    color: rgb(100, 137, 238);
    border-radius: 10px;
}